<h3>Reactive / Model Driven</h3>
<form [formGroup]="productForm">
    <md-input-container>
        <input mdInput name="id" type="text" placeholder="id" [formControl]="id">
        <md-hint *ngIf="id.dirty&&!id.valid">Pflichtfeld</md-hint>
    </md-input-container>
    <md-input-container>
        <input mdInput name="name" type="text" placeholder="Name" [formControl]="name">
        <md-hint></md-hint>
    </md-input-container>
    <md-input-container>
        <input mdInput name="price" type="text" placeholder="Preis" [formControl]="price">
        <md-hint></md-hint>
    </md-input-container>
    <md-input-container>
        <input mdInput name="weight" type="text" placeholder="Gewicht" [formControl]="weight">
        <md-hint></md-hint>
    </md-input-container>
    <button color="accent" [disabled]="!productForm.valid" md-button (click)="save()">speichern</button>
</form>