<form #productForm="ngForm">
    <md-input-container>
        <input mdInput name="id" type="text" placeholder="id" ngModel>
        <md-hint></md-hint>
    </md-input-container>
    <md-input-container>
        <input mdInput name="name" type="text" placeholder="Name" ngModel>
        <md-hint></md-hint>
    </md-input-container>
    <md-input-container>
        <input mdInput name="price" type="text" placeholder="Preis" ngModel>
        <md-hint></md-hint>
    </md-input-container>
    <md-input-container>
        <input mdInput name="weight" type="text" placeholder="Gewicht" ngModel>
        <md-hint></md-hint>
    </md-input-container>
    <button color="accent" md-button (click)="save(productForm.value)">speichern</button>
</form>